.main-navigation {
	float: right;
	margin-top: 1em;

	ul {
		text-align: left;
  		float: left;
  		bottom:0;
  		left:0;
  		padding: 0;
  		margin: 0;
}

ul li {
  display: inline-block;
  position: relative;
  right: 0;
  left: 0;
  padding: 24px 17px;
  cursor: pointer;
  font: 12px/18px sans-serif;
  color: white;
  text-decoration: none;
  letter-spacing: .75px;
  font-weight: 400;
}

nav a {
  display: inline-block;
  position: relative;
  right: 0;
  left: 0;
  padding: 24px 17px;
  cursor: pointer;
  font: 12px/18px sans-serif;
  color: white;
  text-decoration: none;
  letter-spacing: .75px;
  font-weight: 400;
}

nav a:hover {
  background: #D1D1D1;
  color: #14133F;
}

ul li:hover {
  background: #D1D1D1;
  color: #14133F;
}

ul li a {
  font: 12px/18px sans-serif;
  color: white;
  text-decoration: none;
}

ul li a:hover {
  background: #D1D1D1;
  color: #14133F;
}

ul li ul {
  padding: 0;
  position: absolute;
  top: 66px;
  left: 0;
  width: 150px;
  visibility: hidden;
  font-weight: 400;
}

ul li ul a { 
  background: #D1D1D1; 
  display: block;
}

ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}