.map {
	height: 20%;
	margin: 0 auto;
	display: table;
}

.contact-info {
	p {	text-align: center;
		margin-bottom: 2.5em;
		font-weight: 500;
		font-size: 1.125em;
		letter-spacing: .01em;
		color: #14133f;
	}
}
