.site-footer {
	background: $blue;
	position: fixed;
	bottom: 0px;
	margin: 0px;
	width: 100%;
	z-index: 9000;
}


.bottom-logo {
	img {
	float: left;
	margin-top: 1.6em;
	width: 17em;
	}
}

.say-hi {
	float: left;
	margin-left: 34.5em;
	margin-top: 1.4em;
	color: white;
	letter-spacing: .04em;
}

.footer-navigation {
	width: 34em;
}

.social-navigation {
	li {
	float: right;
	display: inline-block;
	margin-left: 1em;
	margin-bottom: 1.4em;
	}

	a {
		color: #2C5DAA;
	}

	a:hover {
		color: #D1D1D1;
	}
}

.copyright {
  background: black;
  padding: .4em 0;
  margin: 0;
  text-align: center;
  font-size: .7em;
  color: white;
  letter-spacing: .05em;
  font-weight: 400;
}


