.site-footer {
	background: $blue;
	position: relative;
}

.bottom-logo {
	img {
	float: left;
	margin-top: 1.3em;
	width: 32em;
	}
}

.say-hi {
	float: left;
	margin-left: 21.7em;
	margin-top: 1.4em;
	color: white;
}

.footer-navigation {
	width: 34em;
}

.social-navigation {
	li{
	float: right;
	display: inline-block;
	margin-left: 1em;
	margin-bottom: 1.4em;
	}
}

.copyright {
  background: black;
  padding: .4em 0;
  margin: 0;
  text-align: center;
  font-size: .7em;
  color: $gray;
  letter-spacing: .03em;
  font-weight: 300;
}


