.title {
  width: 85%;
  max-with: 1100px;
  padding-top: 4.5em;
  text-align: center;
  margin: 0 auto;
  display: table;
}

h3 {
	font-size: 35px;
}

.overlay:hover {
  background-color: black;
}

.column:hover .more-info{ 
  display: block;
  background-color: rgba(44,93,170,.7);
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.overlay{ 
  height: 100%;
  width: 100%;
}

.more-info{ 
  background: red;
  display: none;
  width: 100%;
  height: 100%;

    h2 {
      color: white;
      z-index: 98;
      font-weight: 600;
      letter-spacing: .05em;
      margin-bottom: -0.6em;
      margin-top: 0;
      padding-top: 7em;
    }

    p { 
      color: white;
      font-style: italic;
      font-weight: 200;
      letter-spacing: .04em;
    }

    .genericon {
      font-size: 1.2em;
      vertical-align: top;
      text-align: center;
      -moz-transition: color .1s ease-in 0;
      -webkit-transition: color .1s ease-in 0;
      display: inline-block;
      font-family: Genericons;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      line-height: 1;
      text-decoration: inherit;
      text-transform: none;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      speak: none;
    } 

    hr {
      margin-bottom: 1em;
      height: .1em;
      background-color: white;
    }

}


