  
.skill-title {
  width: 85%;
  max-width: 1100px;
  text-align: center;
  margin: 0 auto;
  display: table;
  font-weight: 400;

  	h2 {
  		font-weight: 700;
  		letter-spacing: .03em;
  		font-size: 1.5em;
  	}

	hr {
		background-color: #ccc;
		border: 0;
		height: .2em;
		margin-bottom: 2em;
		width: 5em;
		margin-top: -.98em;
	  }

  }

   .skill-headline {

 	h1 {
  		font-size: 4em;
  		font-weight: 600;
  		text-align: center;
  		color: #D1D1D1;
  		margin: 0;
  	}

  	.number-left {
  		float: left;
  		display: inline-block;
  		width: 30%;
  		margin-right: 3.3em;
  	}

  	.skill-title {
  	  	display: inline-block;
  		width: 30%;

  	}

  	.icon-right {
  		padding-left: 6em;
  		display: inline-block;
  		width: 30%;
  	}
  }

 .service-descriptions {

 	padding-bottom: 2em;

 	h1 {
  		font-size: 1.125em;
  		font-weight: 400;
  		text-align: center;
  	}

  	hr {
		background-color: #ccc;
		border: 0;
		height: .125em;
		margin-bottom: -.5em;
		width: 100%;
		margin-top: -.5em;  	
  	}

  	.description-left {
  		float: left;
  		display: inline-block;
  		width: 30%;
  		margin-right: 3.3em;
  	}

  	.description-middle {
  	  	display: inline-block;
  		width: 30%;

  	}

  	.description-right {
  		float: right;
  		display: inline-block;
  		width: 30%;
  	}
  }
