.store {
	text-align: center;
}


.cart {
    float: none !important;
    display: block !important;
    width: 100px  !important;
    margin: auto !important;

	.quantity {
		align: center;
		margin: auto;
		display: block;

	}    
}

.meta_date {
	display: none !important; 
}